.refer__cont {
    background-color: var(--black);
    min-height: 100vh;
    overflow: hidden;
}
.refer__inner {
    h2 {
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    // table {
    //     border-top: 1px solid var(--light_border);
    //     border-bottom: 2px solid var(--light_border);
    //     color: var(--white);
    //     overflow: hidden;
    //     td {
    //         border-top: 1px solid var(--light_border);
    //         padding: 1.4rem 0;
    //         font-family: var(--subKor_font);
    //         font-weight: 300;
    //         overflow: hidden;
    //     }
    // }
}

.refer__list {
    border-top: 2px solid var(--light_bg);
    border-bottom: 1px solid var(--light_bg);
    a {
        color: var(--white);
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--light_bg);
        padding: 1rem 0;
        transition: all 0.53s;
        font-family: var(--subKor_font);

        &:hover {
            background: var(--light_bg);
            color: var(--black);
        }
    }
    span:nth-child(1){
        width: 6%;
        text-align: center;
    }
    span:nth-child(2){
        width: 20%;
    }
    span:nth-child(3){
        width: 64%;
    }
    span:nth-child(4){
        width: 10%;
        text-align: center;
    }
}

// refer_detail
.refer__table {
    margin-top: 200px;
    color: var(--white);
    font-family: '(--subKor_font)';
    h3 {
        font-size: 3rem;
    }
    p {
        background-color: var(--light_bg);
        color: var(--black);
        padding: 1.4em;
    }
    .table {
        color: var(--white);
        font-family: '(--subKor_font)';
        border: 1px solid var(--light_bg);
        margin-top: 0.5em;
        td {
        }
        th, td {
            border-bottom: 1px solid var(--light_bg);
            border-left: 1px solid var(--light_bg);
            font-weight: normal;
            padding: 1rem;
        }
        thead {
        }
        tbody {}

    }
}

.referDetail__more {
    margin-bottom: 5em;
    h4 {
        margin-top: 3em;
        font-size: 2rem;
        margin-bottom: 0.5em;
    }
}

//레퍼런스 라이트
.refer__cont.light {
    background-color: var(--light_bg);
    .refer__inner {
        h2 {
            color: var(--black);
        }
        table {
            color: var(--black);
            td{
                border-top: 1px solid var(--black);
            }
        }
    }
}
//레퍼런스 애니메이션
// .refer__inner {
//     h2 {
//         opacity: 0;
//         transform: translateY(200px);
//     }
//     table {
//         opacity: 0;
//         transform: translateX(200px);
//         overflow: hidden;
//     }
// }

//레퍼런스 에니메이션
.refer__inner {
    opacity: 0;
    transform: translateY(200px);
}

